<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--
      Local Spring Boot development is HTTP. Release builds do not inherit this
      exception and therefore require an HTTPS backend.
    -->
    <application android:usesCleartextTraffic="true" />
</manifest>
